<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="Google.Apis" version="1.20.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.20.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.20.0" targetFramework="net452" />
  <package id="Google.Apis.Sheets.v4" version="1.20.0.714" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Access" version="15.0.4420.1017" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Access.Dao" version="15.0.4420.1017" targetFramework="net452" />
  <package id="Microsoft.ReportViewer.2012.Runtime" version="11.0.3452.0" targetFramework="net452" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net452" />
  <package id="Microsoft.ReportViewer.Runtime.WebForms" version="12.0.2402.15" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>